<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ../common/head %>
  </head>
  <body>
    <div id="banner">
      <h1 id="title">
        <a href=".">
          <span>Nu Html Checker
          </span>
        </a>
      </h1>
    </div>
    <p class="disclaimer">This tool is an ongoing experiment in better HTML checking, and its behavior remains subject to change
    </p>
    <h2 id="top">Ready to check</h2>
    <form method="get">
      <fieldset>
        <legend>Checker Input
        </legend>
        <p class="checkboxes">Show 
          <span class="checkboxgroup">
            <label title="Display the markup source of the input document." for="showsource">
              <input type="checkbox" name="showsource" id="showsource" value="yes">source
            </label>
          </span>

        <div id="inputregion">
          <label id="inputlabel" for="doc">Document URL:
          </label>
          <input type="url" name="doc" id="doc" pattern="(?:(?:https?://.+)|(?:data:.+))?" title="Absolute URL (http, https or data only) of the document to be checked." tabindex="0" autofocus="autofocus">
        </div>
        <p>
          <input value="Check" type="submit" id="submit">
        </p>
      </fieldset>
    </form>
    <script src="script.js">
    </script>
    <div id="results">
    </div>
    <hr>
    <div id="about">
      <p>
        <a href="about.html">About this checker
        </a> • 
        <a href="about.html#issues">Report an issue
        </a> • 
        <span class="version">Version: 1
        </span>
      </p>
    </div>
    <div id="content">
     <%= doc %>
    </div>
  </body>
</html>
