<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ../common/head %>
  </head>
  <body>
    <div id="banner">
      <h1 id="title">
        <a href=".">
          <span>Validator (Nu)
          </span>
        </a>
      </h1>
    </div>
    <p class="disclaimer">This validator is in development please <a href="https://github.com/veto64/validator"> help</a> to improve </p>
    <h2 id="top"></h2>
    <form method="get">
      <fieldset>
        <legend>Checker Input
        </legend>
        <p class="checkboxes">Entire Website      
          <span class="checkboxgroup">
            <label title="Entire Website" for="all">
              <input type="checkbox" name="all" id="all" value="yes" <%= all == "yes" ? 'checked="checked"' : '' %>>
            </label>
          </span>

        <div id="inputregion">
          <label id="inputlabel" for="doc">Document URL:
          </label>
          <input type="url" name="doc" id="doc"  title="Absolute URL (http, https or data only) of the document to be checked." tabindex="0" autofocus="autofocus" value="<%= start_url ? start_url : 'http://apache2' %>" >
        </div>
        <p>
          <input value="Check" type="submit" id="submit">
        </p>
      <div id="progressbar"></div>
      </fieldset>
    </form>

 <div id="results">

      <ol>
        <li class="error">
          <p>
            <strong>Error
            </strong>: 
            <span>Obsolete doctype. Expected 
              <code>&lt;!DOCTYPE html&gt;
              </code>.
            </span>
          </p>
          <p class="location">From line 
            <span class="first-line">1
            </span>, column 
            <span class="first-col">1
            </span>; to line 
            <span class="last-line">1
            </span>, column 
            <span class="last-col">109
            </span>
          </p>
          <p class="extract">
            <code>
              <b>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"&gt;
              </b>
              <span class="lf" title="Line break">↩
              </span>&lt;html
            </code>
          </p>
        </li>
      </ol>
      <p class="failure">There were errors.
      </p>
      <div class="details">
        <p class="msgschema">Used the schema for HTML + SVG 1.1 + MathML 3.0 + RDFa Lite 1.1.
        </p>
        <p class="msgmediatype">Used the HTML parser. Externally specified character encoding was UTF-8.
      </div>
      <p class="stats">Total execution time 71 milliseconds.
      </p>


  <p class="success">Document checking completed. No errors or warnings to show.
  </p>
  <div class="details">
    <p class="msgschema">Used the schema for HTML + SVG 1.1 + MathML 3.0 + RDFa Lite 1.1.
    </p>
    <p class="msgmediatype">Used the HTML parser. Externally specified character encoding was UTF-8.
    </p>
  </div>
  <p class="stats">Total execution time 1039 milliseconds.
  </p>


    </div>

    <div id="content">
     <%= start_url %>
    </div>
    <% include ../common/footer %>
  </body>
</html>
